
.container{
    display: flex;
    background-color: #cccccc;
   height: 100vh;
}
.circleBox{
    display: flex;
    
   width: 100%;
   
}
.container_div{
    width: 40%;
   
    display: flex;
    height: 300px;
    margin-top: 150px;
    margin-left: 2%;
    background-color: white;
}
.circle_div{
    align-items: center;
    
    background-color: white;
    margin-left: 6%;
    height: max-content;
    margin-top: 10px;
    
}
.button-box{
   
   justify-content: baseline;
   height: max-content;
   margin-top: 400px;
   margin-left: 5%;
}